<!-- <div class="webcam-wrapper" (click)="hw(video.height, video.width)"> -->
<div class="webcam-wrapper" (click)="imageClick.next()">
  <video
    #video
    class="video-element"
    [width]="videoWidth"
    [height]="videoHeight"
    [class]="videoStyleClasses"
    autoplay
    muted
    playsinline
    (resize)="videoResize()"
  ></video>
  <img
    class="video-overlay"
    *ngIf="previousImageUrl"
    [src]="previousImageUrl"
    [height]="videoHeight"
    [width]="videoWidth"
    [ngStyle]="{
      opacity: onionOpacity
    }"
    alt=""
  />
  <div
    class="camera-switch"
    *ngIf="
      allowCameraSwitch && availableVideoInputs.length > 1 && videoInitialized
    "
    (click)="rotateVideoInput(true)"
  ></div>
  <canvas #canvas [width]="width" [height]="height"></canvas>
</div>
